<template>
  <div class="contianer p-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <div>
        <h1>Star Wars Characters</h1>
      </div>
      <div>
        <input
          v-if="characters.length && !error"
          type="text"
          class="form-control"
          placeholder="Search by name..."
          v-model="searchQuery"
        />
      </div>
    </div>

    <CharacterTable 
      v-if="characters.length && !error"
      :characters="filteredCharacters" 
      :sortBy="sortBy" 
      :orderBy="orderBy"
      :pageNumber="pageNumber"
      @sortby="changeSort"
      @changePage="changePage"
    />
  </div>
</template>

<script>
import CharacterTable from "../components/CharacterTable";
export default {
  name: 'Home',
  components: { CharacterTable },
  data: () => {
    return {
      pageNumber: 1, 
      searchQuery: '',
      sortBy: 'created',
      orderBy: 'asc',
      planetModal: false,
      characters: [],
      error: null,
    }
  },
  computed: {
    filteredCharacters: function() {
      return this.characters.filter((character) => character.name.toLowerCase().includes(this.searchQuery.toLowerCase()));
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load: async function(pageNumber = this.pageNumber) {
      try {
          let data = await fetch(`https://swapi.dev/api/people?page=${pageNumber}`);
          
          if (data.status === 200) {
              let res = await data.json();

              let charactersData = await Promise.all(res.results.map(async character => {
                  // Gets planet infromation
                  let data = await fetch(character.homeworld); 

                  if(data.status === 200) {
                      let planet = await data.json();
                      return {
                          ...character,
                          planet,
                      };
                  }
                  else {
                      throw Error('Cannot get planet infromation!');
                  }
                  
              }));

              this.characters = charactersData;
          }
          else {
              throw Error('Cannot get characters! Please refresh and try again.');
          }
      }
      catch (err) {
          this.error = err.message;
      }
    },
    reloadPosts: function() {
      this.sortBy = 'created';
      this.orderBy = 'asc';
      this.load(this.pageNumber);
    },
    changePage: function(changePage) {
      if (changePage === 'next') {
        this.pageNumber = this.pageNumber + 1;
      }
      else if (changePage === 'prev') {
        this.pageNumber = this.pageNumber - 1;
      }
      this.reloadPosts();
    },
    transform: function(n) {
      return n === 'unknown' ? -1 : n;
    },
    changeSort: function(value) {
      
      this.orderBy = this.sortBy !== value || this.orderBy === '' || this.orderBy === 'dsc' ? this.orderBy = 'asc' : this.orderBy = 'dsc';
      this.sortBy = value;

      if (this.sortBy === 'name') {
        if(this.orderBy === 'asc') {
          this.characters.sort((a, b) => {
            return a[value].toLowerCase().localeCompare(b[value].toLowerCase());
          });
        }
        else {
          this.characters.sort((a, b) => {
            return a[value].toLowerCase().localeCompare(b[value].toLowerCase());
          }).reverse();
        }
      }
      else if (this.sortBy === 'mass' || this.sortBy === 'height') {
        if(this.orderBy === 'asc') {
          this.characters.sort((a, b) => {
            return parseInt(this.transform(a[value])) - parseInt(this.transform(b[value]));
          });
        }
        else {
          this.characters.sort((a, b) => {
            return parseInt(this.transform(b[value])) - parseInt(this.transform(a[value]));
          })
        }
      }
      else if (this.sortBy === 'created' || this.sortBy === 'edited') {
        if(this.orderBy === 'asc') {
          this.characters.sort((a, b) => {
            return new Date(a[value]) - new Date(b[value]);
          });
        }
        else {
          this.characters.sort((a, b) => {
            return new Date(b[value]) - new Date(a[value]);
          })
        }
      }
      else if (this.sortBy === 'planet') {
        if(this.orderBy === 'asc') {
          this.characters.sort((a, b) => {
            return a[value]['name'].toLowerCase().localeCompare(b[value]['name'].toLowerCase());
          });
        }
        else {
          this.characters.sort((a, b) => {
            return a[value]['name'].toLowerCase().localeCompare(b[value]['name'].toLowerCase());
          }).reverse();
        }
      }
    },
  }
}
</script>

<style>
.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body {
  background: black url("../assets/stars.jpg") repeat;
}

h1, p {
  color: yellow;
}
</style>