<template>
  <tr>
    <td>{{ character.name }}</td>
    <td>{{ isNaN(character.height) ? $filters.capitalise(character.height) : parseInt(character.height).toLocaleString() }}</td>
    <td>{{ isNaN(character.mass) ? $filters.capitalise(character.mass) : parseInt(character.mass).toLocaleString() }}</td>
    <td>{{ formattedCreated }}</td>
    <td>{{ formattedEdited }}</td>
    <td class="planet">{{ character.planet.name }}</td>
  </tr>
</template>

<script>
import moment from 'moment';
export default {
  name: "CharacterRow",
  props: ["character"],
  computed: {
    formattedCreated: function () {
      return moment(this.character.created).format('DD/MM/YYYY @ h:mma');
    },
    formattedEdited: function() {
      return moment(this.character.edited).format('DD/MM/YYYY @ h:mma');
    },
  },
};
</script>

<style scroped>
  .planet {
    text-decoration: underline;
    cursor: pointer;
  }

  td {
    color: yellow;
    border-color: yellow;
  }
</style>