<template>
  <div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col" @click="changeSort(heading.toLowerCase())" v-for='heading in tableHeadings' :key='heading.toLowerCase()'>
            <span>{{heading}}</span> 
            <i v-if="sortBy === heading.toLowerCase() && orderBy === 'asc'" class="fas fa-sort-up"></i>
            <i v-else-if="sortBy === heading.toLowerCase() && orderBy === 'dsc'" class="fas fa-sort-down"></i>
            <i v-else class="fas fa-sort"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <CharacterRow 
          v-for="(character, index) in characters" 
          :key="index" 
          :character="character"
        />
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <button class="btn" @click="changePage('prev')">Previous</button>
        </li>
        <li class="page-item">
          <button class="btn" @click="changePage('next')">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import CharacterRow from './CharacterRow';
export default {
    name: 'CharacterTable',
    components: { CharacterRow },
    props: ['characters', 'sortBy', 'orderBy', 'pageNumber'],
    emits: ['sortby', 'changePage'],
    data: () => {
      return {
        tableHeadings: ['Name', 'Height', 'Mass', 'Created', 'Edited', 'Planet'],
      }
    },
    methods: {
      changeSort: function(value) {
        this.$emit('sortby', value)
      },
      changePage: function(value) {
        this.$emit('changePage', value)
      }
    }
};
</script>

<style scooped>
  th {
    cursor: pointer;
    color: yellow;
  }

  th > span {
    margin-right: 5px;
  }

  button.btn {
    color: yellow;
  }

  button.btn:hover {
    color: yellow;
  }
</style>