<template>
    <div class="modal" @click="closeModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Planet information</h5>
                </div>
                <div class="modal-body">
                    <div class="planet-row">
                        <span><strong>Name:</strong></span>
                        <span>{{ $filters.capitalise(activePlanet.name) }}</span>
                    </div>
                    <div class="planet-row">
                        <span><strong>Diameter:</strong></span>
                        <span>{{ isNaN(activePlanet.diameter) ? $filters.capitalise(activePlanet.diameter) : parseInt(activePlanet.diameter).toLocaleString() }}</span>
                    </div>
                    <div class="planet-row">
                        <span><strong>Climate:</strong></span>
                        <span>{{ $filters.capitalise(activePlanet.climate) }}</span>
                    </div>
                    <div class="planet-row">
                        <span><strong>Population:</strong></span>
                        <span>{{ isNaN(activePlanet.population) ? $filters.capitalise(activePlanet.population) : parseInt(activePlanet.population).toLocaleString() }}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { useStore } from 'vuex';
export default {
    name: 'PlanetModal',
    props: ['activePlanet'],
    setup() {
        const store = useStore(); 

        const closeModal = () => {
            store.commit('setActivePlanet', null);
        };
        
        return { 
            closeModal,
        };
    },
}
</script>


<style scoped>
.modal {
    background: rgb(0, 0, 0, 0.4);
    display: block;
}

.planet-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.planet-row:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}

.fade:not(.show) {
    opacity: 1;
}
</style>